@import '../../styles/variables';
@import '../../styles/placeholder';

.loader_overlay {
  @extend %flex;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;

  background-color: $transparent;
}

.loader_container {
  @extend %flex;
}
