$accent-color: #3470ff;
$accent-hover-color: #0b44cd;
$primary-white: #ffffff;
$gray: gray;
$black: #000000;
$transition-duration: 250ms linear;

$primary-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
  rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

$font-weight-bold: 600;
