@import '../../styles/variables';
@import '../../styles/placeholder';

.navigationContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navigationLink {
  @extend %navigationLink;

  transition: border $transition-duration, background-color $transition-duration;

  &:hover,
  &:focus {
    background-color: rgba($black, 0.5);
    border: 1px solid rgba($primary-white, 0.6);
  }
}

.active {
  @extend %navigationLink;
  background-color: rgba($black, 0.5);
  border: 1px solid rgba($primary-white, 0.6);
}
