@import '../../styles/variables';

.navigationContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navigationLink {
  padding: 10px 20px;

  font-size: 30px;
  font-weight: $font-weight-bold;
  color: $primary-white;

  border-radius: 10px;
  border: 1px solid $gray;

  transition: border $transition-duration, background-color $transition-duration;

  &:hover,
  &:focus {
    background-color: rgba($black, 0.5);
    border: 1px solid rgba($primary-white, 0.6);
  }

  &.active {
    background-color: rgba($black, 0.5);
    border: 1px solid rgba($primary-white, 0.6);
  }
}
