@import '../../styles/variables';
@import '../../styles/placeholder';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  margin: 0 auto;
  padding: 15px 90px;

  background-color: rgba(47, 48, 58, 0.8);

  box-shadow: $primary-box-shadow;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  width: 1240px;
  margin: 0 auto;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  font-size: 35px;
  font-weight: $font-weight-bold;
  color: $primary-white;
}

.text_span {
  color: $accent-color;
}

// animation header

@keyframes customSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  70% {
    opacity: 1;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate__customSlideInLeft {
  animation-name: customSlideInLeft;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes customshakeX {
  10%,
  90% {
    transform: translateX(10px);
  }
  20%,
  80% {
    transform: translateX(-10px);
  }
  30%,
  50%,
  70% {
    transform: translateX(10px);
  }
  40%,
  60% {
    transform: translateX(-10px);
  }
}

.animate__customshakeX {
  animation-name: customshakeX;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.2s;
}
