@import '../../styles/variables';

.footer {
  display: flex;

  justify-content: center;
  padding: 10px 20px;
  height: 70px;
  border-top: 1px solid rgba($gray, 0.4);
}

.footer_authorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer_list {
  display: flex;
  gap: 6px;
}

.footer_text {
  font-weight: 600;
}
