@import '../../../styles/variables';
@import '../../../styles/placeholder';

.container {
  @extend %flex;
  flex-direction: column;
  width: 1184px;
  margin: 0 auto;

  gap: 20px;
}

.text_result {
  font-size: 25px;
  font-weight: $font-weight-bold;
}

.button_result {
  @extend %title;
  @extend %flex;

  width: 200px;
  padding: 15px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  font-size: 25px;
  color: $primary-white;
  box-shadow: $primary-box-shadow;
  border-radius: 12px;
  border-color: $transparent;

  background: $accent-color;
  transition: scale $transition-duration, background-color $transition-duration;

  &:hover,
  &:focus {
    background-color: rgba($accent-hover-color, 0.9);
    scale: 1.1;
  }
}
